# Environnements
.env
config/.env

# Data Lake (contenu uniquement)
data/bronze/*
data/silver/*

# Logs
logs/*

# Exceptions (sauvergarde des dossiers)
!data/bronze/.gitkeep
!data/silver/.gitkeep

# Fichiers temporaires
__pycache__/
*.pyc
*.pyo

# Fichiers OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Docker
*.log
